# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# --- Environments ---
.venv/
venv/
ENV/
env/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/

# --- Project Specific Data ---
# We ignore the large 2000-row dataset but keep the folder structure
data/network_traffic.csv
# If you create a small sample for recruiters, you can allow it:
# !data/network_traffic_sample.csv

# --- Documentation & Assets ---
# We keep the PNGs because they are part of the portfolio 'Concept Explainer'
# But we ignore temporary local log files
*.log

# --- OS Specific ---
.DS_Store
Thumbs.db